.empty{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-spacing: 10;
}
.burning{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #ff0000;
}
.infected{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #d036bd;
}
.tree{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: DARKGREEN;
}
.bush{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #00ae00;
}
.youngTree{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #5bff4f;
}
.grid{
    -fx-border-color: purple;
    -fx-border-width: 2px;
}
.scroll{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}