.empty{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-spacing: 10;
}
.burning{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: red;
}
.infected{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: purple;
}
.tree{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: green;
}
.youngTree{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: mediumseagreen;
}
.bush{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: chartreuse;
}
.grid{
    -fx-border-color: purple;
    -fx-border-width: 2px;
}
.scroll{
    -fx-border-color: yellow;
    -fx-border-width: 2px;
}