.anchor {
    -fx-background-color: #f5efe6;
    -fx-text-fill: #424340;
    }
.button {
    -fx-text-fill: white;
    -fx-min-height: 30;
    -fx-min-width: 80;
    -fx-background-color: #137c8b;
    -fx-background-radius: 10px;
}
.buttonSim {
    -fx-background-radius: 15px;
    -fx-min-height: 180;
    -fx-min-width: 180;
    -fx-background-color: #137c8b;
}
.textField {
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #137c8b;
}
.empty{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-spacing: 10;
}
.burning{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #ff0000;
}
.infected{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #d036bd;
}
.tree{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: DARKGREEN;
}
.bush{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #00ae00;
}
.youngTree{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #5bff4f;
}
.ashes{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: #979797;
}
.scrollGrid{
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.true {
    -fx-border-color: #6cff00;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}
.false {
    -fx-border-color: red;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}
.deleteButton {
    -fx-background-image: url('../images/delete.png');
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-max-height: 50;
    -fx-max-width: 50;
    -fx-background-position: center;
}
.modeCroissance {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: green;
}
.modeFeu {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: red;
}
.modeInfected {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #d036bd;
}
.simNameImport{
    -fx-background-radius: 5px;
    -fx-text-fill: white;
    -fx-background-color: #137c8b;
}
